#home {
    margin: 0;
    overflow: hidden;
}

#home .content .figure {
    position: relative;
}

#home .content .figure::before {
    content: '';
    background-color: var(--light-green);
    height: 100%;
    width: 100%;
    position: absolute;
    top: -16.8%;
    left: 16.7%;
    z-index: 0;
    border-radius: 0.25rem;
}

#home .content .figure .img {
    width: 100%;
    height: auto;
    position: relative;
    right: 2.875rem;
    border-radius: 0.25rem;
}

#home .content .text {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    text-align: center;
}

#home .content .text h3 {
    font: 700 1.5rem 'Poppins', sans-serif;
    color: var(--dark-green);
    margin-bottom: 1rem;
}

#home .content .text p {
    font: 400 1rem 'DM Sans', sans-serif;
    color: var(--grey);
    margin-bottom: 2rem;
}

#home .content .text .button {
    background-color: var(--bg-green);
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    font: 400 1rem 'DM Sans', sans-serif;
    color: var(--ice);
    transition: background 0.3s;
}

#home .content .text .button:hover {
    background-color: var(--green-hover);
}

#home .content .text .button:focus {
    background-color: var(--green-hover);   
    border: 2px solid var(--dark-green);
    outline: none;
}

@media(min-width: 768px) {
    #home .content .figure::before {
        width: 57%;
    }
    
    #home .content .figure .img {
        width: 70%;        
    }

    #home .content .text {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
}

@media(min-width: 1024px) {
    #home .content {
        display: flex;
        flex-direction: row-reverse;
        gap: 3rem;
        align-items: flex-start;

        margin-left: 2rem;
        margin-right: 2rem;
    }

    #home .content .figure::before {
        width: 20rem;
        left: 0.7%;
    }

    #home .content .figure .img {
        width: 20rem;
    }

    #home .content .text {
        max-width: 25rem;
    }
}

@media(min-width: 1366px) {
    #home .content {
        align-items: center;
        justify-content: center;
    }

    #home .content .text {
        text-align: left;
    }

    #home .content .figure::before {
        width: 25rem;
    }

    #home .content .figure .img {
        width: 25rem;
    }
}